/**
 * @description 第三方组件部分样式重写
 * @file api.js
 * @author    wuzhen
 * @date      2017/11/17
 *
 * @copyright @Navinfo, all rights reserved.
 */

/*****重写elementUI样式*****/
.el-card__header {
  padding: 12px !important;
}
.el-table td, .el-table th {
  padding: 10px 0px;
}
.el-table .cell {
  line-height: 14px !important;
}
.el-dropdown-menu__item {
  font-size: 12px !important;
}

textarea {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif !important;
}


/*****重写图吧地图样式*****/
#ImgCopyright{
  display: none !important;
}
#ImgCopyright + div {
  display: none !important;
}
#LayerScale {
  left: 50% !important;
}

